*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#newbook-form {
    display: grid;
    gap: 12px;
}


.form-row input{
    width: 60%;
    font-size: 18px;
}

.form-row input[type="checkbox"]{

    width: auto;
}
.newbook-btn {
    font-size: 18px;
    width: 80px;
    cursor: pointer;
}
.books-container {
    display: flex;
    gap: 36px;
}

.book-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

